@charset "ISO-8859-1";


<style>
* {
	box-sizing: border-box;
}

.body {
	font-family: Arial;
}


.navbar {
	overflow: hidden;
	background-color:#3cc4a5;
	font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
	float: left;
	font-size: 18px;
	color: white;
	text-align: center;
	padding: 16px 20px;
	text-decoration: none;
}

.navbar a:hover {
	background-color:orange;
}

.topnav-right {
	float: right;
}

.myImage {
	margin-left: 37%;
	
}

.back {
	background:#ff6666;

}

.footer {
	width: 1332px;
	height: 220px;
	background:#ff80c0;
	
}


.fa {
	padding: 12px 16px;
	font-size: 30px;
	width: 45px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-google {
	background: #dd4b39;
	color: white;
}

.fa-yahoo {
	background: #430297;
	color: white;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}

.cpy {
	margin-left:none;
	text-align:left;
	color:white;
	font-size:20px;
}

.cent {
	margin-left: 28%;
	padding: 14px 16px;
	
}

.scroll{
color:White;
font-size:30px;
}
}


</style>
