@charset "ISO-8859-1";

 <style>
 {
	box-sizing: border-box;
}

.body {
	font-family: Arial;
}

.navbar {
	overflow: hidden;
	background-color:#80ff80;
	font-family: Arial, Helvetica, sans-serif;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px; 
  text-align: center; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: Arial;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #F38A14; /*colour for navbar hover is orange*/
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  }

input[type=text], input[type=password] {
	width: 50%;
	padding: 15px;
	margin: 5px 0px 22px 26%;
	border: none;
	background: #ffffff;
	display: block;
	border-radius: 10px;
}

input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

.navbar a {
	float: left;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	padding: 16px 20px;
	text-decoration: none;
}

.navbar a:hover {
	background-color:orange;
}

.topnav-right {
	float: right;
}

.myImage {
	margin-left: 40%;
	
}

.back {
	background: #ff6666;
}



.footer {
	width: 1950px;
	height: 250px;
	background:blue;
	
}


.fa {
	padding: 12px 16px;
	font-size: 30px;
	width: 45px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-google {
	background: #dd4b39;
	color: white;
}

.fa-yahoo {
	background: #430297;
	color: white;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}

.cpy {
	margin-left:none;
	text-align:left;
	color:white;
	font-size:20px;
}

.cent {
	margin-left: 40%;
	padding: 14px 16px;
	
}

.scroll{
color:White;
font-size:40px;
}

.sbtbtm{
background-color:black;
color:white;
font-size:30px;

}

.container{
padding: 16px;
	text-align: center;
	display: block;
	background-color:grey;
	font-size: 18px;
	width: 100%;
	border-radius: 12px;
	box-shadow: 0px 10px 20px 15px #999999;
}

.loginbtn{
background-color:green;
color:white;
font-size:30px;
margin-left:3%;
}


.cancelbtn{
background-color:red;
color:white;
font-size:26px;
margin-left:3%;
}

.colors{
color:white;
font-size:20px;

}


}


</style> 
